@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(247, 251, 247, 1), rgba(247, 251, 247, 1));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}